@import url('./index.css');

.main-image-upload {
    width: 300px;
    height: 300px;
    border: 2px solid var(--gris);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    border-radius: 8px;
    background-color: var(--primario);
}

.upload-icon {
    width: 150px;
    height:150px;
    font-size: 48px;
    color: var(--gris);
}

.main-image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.upload-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:3em;

    >section{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width:100%;
        justify-content: space-evenly;

        >section{
            width:100%;
            margin-left:2em;            
        }
    }
}

.file-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    width:100%;
    flex-direction: row;
}

.file-preview {
    position: relative;
    width: 100px;
    height: 100px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.file-thumbnail {
    width: 100px;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.file-fallback {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    justify-content: center;
}

.file-name {
    font-size: 12px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    text-align: center;
    margin-top: 4px;
}

.remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--primario);
    color: var(--white);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-more {
    width: 100px;
    height: 100px;
    background-color: var(--primario);
    border: 2px solid var(--gris);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gris);
    cursor: pointer;
    >img{
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

textarea,select{
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid var(--gris);
    resize: none;
    font-size: 14px;
}

label{
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .upload-form{
        padding:1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        >section{
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            >section{
                margin-left:0;
            }
        }
    }
}